.storybook-card {
  height: 25vw;
  width: 45vw;
  display: grid;
  grid-template: 1 / 1;
  font-size: 6rem;
}
.storybook-card--primary {
  color: white;
  background-color: #1ea7fd;
}
.storybook-card--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-card--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-card--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-card--large {
  font-size: 16px;
  padding: 12px 24px;
}
